{% extends "layout.html" %}

{% block title %}
anubhav ishan
{% endblock %}

{% block content %}

<h1 class="text-center text-white"> Welcome to my page !!</h1>

<h2 class="text-white">
    
    {%if form.instance.pk %}
    Edit tweet
    {% else %}
    Create tweet
    <h2>Your Prompt:</h2>
<div class="prompt-display">
    <p>{{ prompt }}</p>
</div>

    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form text-white">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">Back to tweet list</a>
</h2>

{% endblock %}